body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 50vh;           
  margin: 0;                
}


.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;  
  padding: 30px;             
  border-radius: 8px;         
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  width: 400px;
}

#taskInput{
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;    
  border-radius: 4px;         
  width: calc(100% - 120px); 
  box-sizing: border-box;      
  transition: border 0.3s;  
}

#taskInput:focus {
  border-color: #007BFF;  
  outline: none;            
}

#addTaskBtn{
  padding: 10px;
  background-color: #007BFF; 
  color: #ffffff;           
  border: none;              
  border-radius: 4px;        
  cursor: pointer;             
  transition: background 0.3s; 
}

